body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background-image: url("./images/background.jpg");
    background-size: 100%;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
.journal-box{
  background-color:#65dfff;
  background-color: rgba(176, 238, 235, 0.5);
  margin-left:15%;
  margin-right: 15%;
}
textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
}
.footer,
.push {
  text-align: center;
  height: 50px;
}
.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
